flows.json
[
    {
        "id": "9076c6fc18fdd793",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fbea5620ecfb7cf",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "75b1764dcb99912b",
                "514a7d8c6f31bd17",
                "f90486b80c33d4f1",
                "53c0f34f22cec79d",
                "50fe7e15229a64bd",
                "8e93d72d1c2b0c15",
                "02f5740ee560305e"
            ]
        ]
    },
    {
        "id": "8e93d72d1c2b0c15",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 20,
        "wires": []
    },
    {
        "id": "f60715e777e6252d",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "50fe7e15229a64bd",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "53c0f34f22cec79d",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "f90486b80c33d4f1",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "514a7d8c6f31bd17",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "75b1764dcb99912b",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "e6d164197c4e57dd",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "6643340e38f3b8a4",
                "6daef5022614d204",
                "0c330345be1e8b38"
            ]
        ]
    },
    {
        "id": "27dc775f280913fe",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 600,
        "wires": []
    },
    {
        "id": "6643340e38f3b8a4",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 600,
        "wires": []
    },
    {
        "id": "6daef5022614d204",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 660,
        "wires": []
    },
    {
        "id": "eeb1e693bdae2168",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1200,
        "wires": [
            [
                "15b62751f5d5bc5f",
                "d2325994b26a1a53",
                "edcfc647e75377a6",
                "d2a9d3ab186ef2b3",
                "dd6b9076576da8c9",
                "8c38bf52f7c98056"
            ]
        ]
    },
    {
        "id": "15b62751f5d5bc5f",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2ecc1267a3dbe545",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d2325994b26a1a53",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1140,
        "wires": []
    },
    {
        "id": "edcfc647e75377a6",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d2a9d3ab186ef2b3",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1320,
        "wires": []
    },
    {
        "id": "dd6b9076576da8c9",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1420,
        "wires": []
    },
    {
        "id": "856500ce77c9aa0d",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "e8d846ba5b2330a5",
                "e752bc38e83a3485",
                "cdea2224984e5be3",
                "212dc5b67c0a1709",
                "9ace3291a2b7a831",
                "7d27cc50a6fc14da"
            ]
        ]
    },
    {
        "id": "e8d846ba5b2330a5",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 20,
        "wires": []
    },
    {
        "id": "e1447de39e5692c4",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "e752bc38e83a3485",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "cdea2224984e5be3",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "212dc5b67c0a1709",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "9ace3291a2b7a831",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "65aa8c264f9bbe61",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 740,
        "wires": [
            [
                "711172c819d41853",
                "3dbec4d938ab5833",
                "03dd778ab0858ebc",
                "34b1b30423e80572",
                "415eb44a44bd2914"
            ]
        ]
    },
    {
        "id": "f133075581fbc448",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "711172c819d41853",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "3dbec4d938ab5833",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "03dd778ab0858ebc",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 840,
        "wires": []
    },
    {
        "id": "34b1b30423e80572",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 900,
        "wires": []
    },
    {
        "id": "0548f1a09f852cf2",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1120,
        "wires": [
            [
                "7edaa1f192b47ff1",
                "98dbdb2ff92efe08",
                "ebe2db5755c26936",
                "61f0bf99c47ab0cb",
                "1eca3a8b4bd8f1ee",
                "f69349050e5e2338"
            ]
        ]
    },
    {
        "id": "7edaa1f192b47ff1",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 870,
        "y": 1040,
        "wires": []
    },
    {
        "id": "98dbdb2ff92efe08",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 870,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ebe2db5755c26936",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 870,
        "y": 1240,
        "wires": []
    },
    {
        "id": "61f0bf99c47ab0cb",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 870,
        "y": 1360,
        "wires": []
    },
    {
        "id": "1eca3a8b4bd8f1ee",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 870,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d60e0b66654c39c7",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "28218fe7b521a692",
                "a6b5b4428aa41b1d",
                "c7796d526527837e",
                "ca42c3c34c69f4f7",
                "b93df24adaa9e616",
                "dcad9491cf0a78d0",
                "cafa67eafaaf399f"
            ]
        ]
    },
    {
        "id": "28218fe7b521a692",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 180,
        "wires": []
    },
    {
        "id": "a6b5b4428aa41b1d",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "c7796d526527837e",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 300,
        "wires": []
    },
    {
        "id": "ca42c3c34c69f4f7",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 360,
        "wires": []
    },
    {
        "id": "b8f66f29130ecb9e",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 780,
        "wires": [
            [
                "96ab643971d8f1e2",
                "3010c512d9d9c3da",
                "47dc9ffbf4e3509b",
                "6acb5b77673eaf70"
            ]
        ]
    },
    {
        "id": "96ab643971d8f1e2",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 540,
        "wires": []
    },
    {
        "id": "f0bdb2898157a415",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 600,
        "wires": []
    },
    {
        "id": "3010c512d9d9c3da",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 600,
        "wires": []
    },
    {
        "id": "47dc9ffbf4e3509b",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "e0ff3fb027cda76e",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1010,
        "y": 1200,
        "wires": [
            [
                "e0458fd8dc3c13b9",
                "ca26173f65e429b9",
                "d253b88b057fc2b0",
                "127a7dd686a04913",
                "e2a1a453d0fa67c5",
                "ed6b3446188657c2",
                "8a5fd19782ca34d8"
            ]
        ]
    },
    {
        "id": "e0458fd8dc3c13b9",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e0496d9df3aef434",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1080,
        "wires": []
    },
    {
        "id": "ca26173f65e429b9",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d253b88b057fc2b0",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1140,
        "wires": []
    },
    {
        "id": "127a7dd686a04913",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e2a1a453d0fa67c5",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1260,
        "wires": []
    },
    {
        "id": "ed6b3446188657c2",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8a5fd19782ca34d8",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 1380,
        "wires": []
    },
    {
        "id": "0cf48b30def8e605",
        "type": "ui_button",
        "z": "9076c6fc18fdd793",
        "name": "",
        "group": "8220271cdea44132",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1470,
        "y": 180,
        "wires": [
            [
                "d089748979382aae",
                "b15eb836d990730a",
                "fb6a553a66ecaf7b",
                "09fd05086c1a8c28",
                "e2414b4bd3b60642",
                "f5473d82f227462e",
                "ea99033002e44d48"
            ]
        ]
    },
    {
        "id": "d089748979382aae",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1770,
        "y": 40,
        "wires": []
    },
    {
        "id": "b15eb836d990730a",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1770,
        "y": 100,
        "wires": []
    },
    {
        "id": "fb6a553a66ecaf7b",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1770,
        "y": 140,
        "wires": []
    },
    {
        "id": "09fd05086c1a8c28",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1770,
        "y": 320,
        "wires": []
    },
    {
        "id": "e2414b4bd3b60642",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1770,
        "y": 380,
        "wires": []
    },
    {
        "id": "b93df24adaa9e616",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 20,
        "wires": []
    },
    {
        "id": "f5473d82f227462e",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1770,
        "y": 200,
        "wires": []
    },
    {
        "id": "dcad9491cf0a78d0",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 120,
        "wires": []
    },
    {
        "id": "02f5740ee560305e",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "5e5be6c590c446ab"
            ]
        ]
    },
    {
        "id": "0c330345be1e8b38",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 520,
        "wires": [
            [
                "40fa8cacb75d03f8",
                "920225fefea018d9",
                "31f0dda2f29c4979",
                "47680be5d4146f13",
                "a223fe1c2681c50b"
            ]
        ]
    },
    {
        "id": "8c38bf52f7c98056",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "6e2613b9eaae6de2",
                "211a9e9e041fe917"
            ]
        ]
    },
    {
        "id": "7d27cc50a6fc14da",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 20,
        "wires": [
            [
                "066f2d540d9e8ff3",
                "e069cc3bda0e94b1"
            ]
        ]
    },
    {
        "id": "415eb44a44bd2914",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 600,
        "wires": [
            [
                "6466788e45166d6d",
                "24f82deca070c20f",
                "7451cbb90a270a3c"
            ]
        ]
    },
    {
        "id": "f69349050e5e2338",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1020,
        "wires": [
            [
                "2806c7f010296482",
                "57f36212f8979115"
            ]
        ]
    },
    {
        "id": "cafa67eafaaf399f",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 20,
        "wires": [
            [
                "9cf908ea96c9ff9e"
            ]
        ]
    },
    {
        "id": "6acb5b77673eaf70",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "9fc9385535d7a57b",
                "31ced18361df927f",
                "45751a29673e4773",
                "338c8b4c0635f3e3"
            ]
        ]
    },
    {
        "id": "ea99033002e44d48",
        "type": "change",
        "z": "9076c6fc18fdd793",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 20,
        "wires": [
            [
                "6a344d03b3389992"
            ]
        ]
    },
    {
        "id": "5e5be6c590c446ab",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "40fa8cacb75d03f8",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 390,
        "y": 540,
        "wires": []
    },
    {
        "id": "920225fefea018d9",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 740,
        "wires": []
    },
    {
        "id": "31f0dda2f29c4979",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 800,
        "wires": []
    },
    {
        "id": "47680be5d4146f13",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 860,
        "wires": []
    },
    {
        "id": "a223fe1c2681c50b",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 920,
        "wires": []
    },
    {
        "id": "6e2613b9eaae6de2",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino C",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1200,
        "wires": []
    },
    {
        "id": "211a9e9e041fe917",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 370,
        "y": 1380,
        "wires": []
    },
    {
        "id": "066f2d540d9e8ff3",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "e069cc3bda0e94b1",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "6466788e45166d6d",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino A",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "24f82deca070c20f",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "7451cbb90a270a3c",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 850,
        "y": 800,
        "wires": []
    },
    {
        "id": "2806c7f010296482",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 870,
        "y": 1100,
        "wires": []
    },
    {
        "id": "57f36212f8979115",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "9cf908ea96c9ff9e",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino B",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1310,
        "y": 80,
        "wires": []
    },
    {
        "id": "9fc9385535d7a57b",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino D",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 720,
        "wires": []
    },
    {
        "id": "31ced18361df927f",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 780,
        "wires": []
    },
    {
        "id": "45751a29673e4773",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino F",
        "pin": "7",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 840,
        "wires": []
    },
    {
        "id": "338c8b4c0635f3e3",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino G",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1290,
        "y": 900,
        "wires": []
    },
    {
        "id": "6a344d03b3389992",
        "type": "arduino out",
        "z": "9076c6fc18fdd793",
        "name": "Pino E",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "8ae9806f376ec87b",
        "x": 1770,
        "y": 260,
        "wires": []
    },
    {
        "id": "8220271cdea44132",
        "type": "ui_group",
        "name": "DISPLAY",
        "tab": "f40ee594586ea879",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ae9806f376ec87b",
        "type": "arduino-board",
        "device": "COM15"
    },
    {
        "id": "f40ee594586ea879",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]